{% extends 'base.html' %}
{% block content %}
{% load static%}



  <main id="main" data-ao
  s="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-start">
          <div class=" text-right">
            <h2>About</h2>
            <p>We are a team of two dedicated photographers headquartered in Roysambu, Kenya. We specialize in portrait and product photography, and we enjoy capturing the beauty of the human experience as well as the distinctive aspects of items.
We are both skilled photographers with a keen eye for detail.<br><br>
We are also creative and imaginative, seeking to create beautiful and meaningful visuals.
We are committed to offering the greatest level of service to our clients.
<br><br>
We have a number of packages to suit any budget, and we are always pleased to collaborate with our clients to achieve the right photographs.
We would be honored to collaborate with you if you are searching for a team of professional and creative photographers to capture your unique moments. Please feel free to contact us to learn more about our services.
</p>

            <a class="cta-btn" href="{% url 'contact' %}">Available for hire</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

  </main><!-- End #main -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Contact</h2>
            <p>Shoot us a message.</p>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-3">
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Roysambu, Nairobi</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3">
            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>dacogallery@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3">
            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+254 718 473 580</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row justify-content-center mt-4">

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{%endblock%}
