{% extends 'base.html' %}
{% block content %}
{% load static%}


<header id="header" class="header d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-left  me-auto me-lg-0">


      <h1><a href="index.html"> <img src="{% static 'img/unnamed.png' %}" width = "200px" alt=""> </a></h1>
    </a>


  <!-- ======= Hero Section ======= -->
  <nav id="navbar" class="navbar">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>

          {%for category in categories%}
            <li>
              <a href="{% url 'category' category.slug %}">
                  {{category.name}}
                  <br>

              </a>
            </li>
          {%endfor%}

        </ul>
      </li>
      <li><a href="{% url 'services' %}">Services</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
  </nav><!-- .navbar -->

  <div class="header-social-links">
    <a href="https://www.instagram.com/dacos_gallery/" class="instagram"><i class="bi bi-instagram"></i></a>
  </div>
  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

</div>
</header><!-- End Header -->

  <main id="main" data-ao
  s="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-start">
          <div class="col-lg-6 text-right">
            <h2>About</h2>
            <p>We are a team of two dedicated photographers headquartered in Roysambu, Kenya. We specialize in portrait and product photography, and we enjoy capturing the beauty of the human experience as well as the distinctive aspects of items.
We are both skilled photographers with a keen eye for detail.<br><br>
We are also creative and imaginative, seeking to create beautiful and meaningful visuals.
We are committed to offering the greatest level of service to our clients.
<br><br>
We have a number of packages to suit any budget, and we are always pleased to collaborate with our clients to achieve the right photographs.
We would be honored to collaborate with you if you are searching for a team of professional and creative photographers to capture your unique moments. Please feel free to contact us to learn more about our services.
</p>

            <a class="cta-btn" href="{% url 'contact' %}">Available for hire</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

  </main><!-- End #main -->

{%endblock%}
