{% extends 'base.html'%}
{% block content%}


{%load static%}

<header id="header" class="header d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-left  me-auto me-lg-0">


      <h1><a href="{% url 'home' %}"> <img src="{% static 'img/unnamed.png' %}" width = "200px" alt=""> </a></h1>
    </a>

<nav id="navbar" class="navbar">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
      <ul>

        {%for category in categories%}
          <li>
            <a href="{% url 'category'  category.slug %}">
                {{category.name}}
                <br>

            </a>
          </li>
        {%endfor%}

      </ul>
    </li>
    <li><a href="{% url 'services' %}">Services</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
  </ul>
</nav><!-- .navbar -->

<div class="header-social-links">
  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
</div>
<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

</div>
</header><!-- End Header -->

<section id="blog" class="blog">
<div class="container">
  <div class="row gy-2">
    {% for post in posts %}
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="blog-item position-relative">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." height="300px">
        <h4><a href="{{post.slug}}" class="stretched-link">{{post.title}}</a></h4>
        <p>{{post.body|truncatechars:200|safe}}</p>
        <a href="{{post.slug}}" class="btn btn-primary">Read More</a>
        <div class="card-footer">
          <small class="text-muted">{{post.created_on}}</small>
        </div>
      </div>
    </div><!-- End Service Item -->

    {% endfor %}
  </div>
</div>
</section>


{% endblock %}
