{% extends 'base.html' %}
{% block content %}
{%load static%}

<section  class="d-flex justify-content-center">
  <div class="" style="position:absolute; top:0">
    <img style="height: 100vh;width: 100vw;object-fit: cover;" src="{{cover_image.value.url}}" alt="">

  </div>
  <div id="hero" style="margin-top: 100px; margin-bottom: 100px; background: none;" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500" style="background: none;">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Capture <span>your essence </span> with stunningly captured photos infused with African magic</h2>

          <a href="{% url 'contact' %}" class="btn-get-started">Experience the magic</a>
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->
</section>


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery d-flex" data-aos="fade" data-aos-delay="1500">
{% if images %}
<div class="container-fluid">
  <div class="hero col-lg-6 text-center">
    <h2><span>Featured</span></h2>
  </div>
  <div class="masonry-grid">
    {% for image in images %}
    {% if image.image %}
    <div class="masonry-item">
      <img src="{{ image.image.url }}" class="img-fluid" alt="">
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
</section>





{%endblock%}
