{% extends 'base.html' %}
{% block content %}
{%load static%}
<header id="header" class="header d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-start justify-content-between">

    <a href="{% url 'home' %}" class="logo  d-flex align-items-left  me-auto me-lg-0">
      <h1><a href="{% url 'home' %}"> <img style="z-index:9999; position:absolute; top:1; " src="{% static 'img/unnamed.png' %}" width = "200px" alt=""> </a></h1>
    </a>

  <!-- ======= Hero Section ======= -->
  <nav id="navbar" class="navbar" style="z-index: 99999999999999999999999999999999999">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
            {%for category in categories%}
              <li>
                <a href="{% url 'category' category.slug %}">
                    {{category.name}}

                </a>
              </li>
            {%endfor%}
        </ul>
      </li>
      <li><a href="{% url 'services' %}">Services</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
  </nav><!-- .navbar -->

  <div class="header-social-links">
    <a href="https://www.instagram.com/dacos_gallery/" class="instagram"><i class="bi bi-instagram"></i></a>
  </div>
  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

</div>
</header ><!-- End Header -->
<section  class="d-flex justify-content-center">
  <div class="" style="position:absolute; top:0">
    <img style="height: 100vh;width: 100vw;object-fit: cover;" src="{{cover_image.value.url}}" alt="">

  </div>
  <div id="hero" style="margin-top: 100px; margin-bottom: 100px; background: none;" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500" style="background: none;">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Capture <span>your essence </span> with stunningly captured photos infused with African magic</h2>

          <a href="{% url 'contact' %}" class="btn-get-started">Experience the magic</a>
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->
</section>


    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery d-flex" data-aos="fade" data-aos-delay="1500">
      {% if images %}
      <div class="container-fluid">
        <div class="hero col-lg-6 text-center">
          <h2><span>Featured</span></h2>
        </div>
        <div class="masonry-grid">
          {% for image in images %}
          <div class="masonry-item">
            <img src="{{ image.image.url }}" class="img-fluid" alt="">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </section>





{%endblock%}
