{% extends 'base.html'%}

{% block content %}
{%load static%}

<header id="header" class="header d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-left  me-auto me-lg-0">


      <h1><a href="{% url 'home' %}"> <img src="{% static 'img/unnamed.png' %}" width = "200px" alt=""> </a></h1>
    </a>

<nav id="navbar" class="navbar">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
      <ul>

        {%for category in categories%}
          <li>
            <a href="{% url 'category'  category.slug %}">
                {{category.name}}
                <br>

            </a>
          </li>
        {%endfor%}

      </ul>
    </li>
    <li><a href="{% url 'services' %}">Services</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
  </ul>
</nav><!-- .navbar -->


<div class="container mt-5 border d-flex justify-content-center">
  <h2>Hello </h2>
  <br>
  <form  action="/new_post/" enctype="multipart/form-data"  method="post"> {% csrf_token %}
  <div class="container mt-4">
  {{ form.as_p }}
  <!-- <a href="{% url 'home'%}" class="btn btn-primary">Add Blog</a> -->
   <button type="submit" class="btn btn-success">Post</button>
  </div>
  </form>


  <br>



</div>




{% endblock %}
