m {%extends 'base.html'%}
{%block content%}
{%load static%}
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-left  me-auto me-lg-0">


        <h1><a href="{% url 'home' %}"> <img src="{% static 'img/unnamed.png' %}" width = "200px" alt=""> </a></h1>
      </a>


    <!-- ======= Hero Section ======= -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>



              {%for category in categories%}
                <li>
                  <a href="{% url 'category' category.slug %}">
                      {{category.name}}
                      <br>

                  </a>
                </li>
              {%endfor%}

          </ul>
        </li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
      </ul>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="https://www.instagram.com/dacos_gallery/" class="instagram"><i class="bi bi-instagram"></i></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">


    <!-- ======= Services Section ======= -->
    <section id="services" class="services border d-flex justify-content-center align-items-center mt-4">
      <div class="container border mt-4">

        <div class="row border mb-4">

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-activity"></i>
              <h4><a href="" class="stretched-link">African photography</a></h4>
              <p>Capturing the vibrant spirit of Africa through the lens.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-bounding-box-circles"></i>
              <h4><a href="" class="stretched-link">Creative photography</a></h4>
              <p>Freezing moments in time with the beauty of gel photography</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="" class="stretched-link">Product photography</a></h4>
              <p>Bringing your products to life with stunning visuals that sell.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-broadcast"></i>
              <h4><a href="" class="stretched-link">Portrait photography</a></h4>
              <p>Capturing the essence of you - portraits that tell your story. </p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-header">
          <h2>Prices</h2>
          <p>Check my adorable pricing per item</p>
        </div>

        <div class="row gy-4 gx-lg-5">

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Portrait Photography</h3>
              <h4>$5.00</h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>African Photography</h3>
              <h4>$6.00</h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Product Photography</h3>
              <h4>$100.00</h4>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-6">
            <div class="pricing-item d-flex justify-content-between">
              <h3>Portrait Photography</h3>
              <h4>$5.00</h4>
            </div>
          </div><!-- End Pricing Item -->


        </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->



{%endblock%}
