{% extends 'base.html' %}

{% block content %}

<section id="">
  <div class="container-fluid ">
    <div class="">
      <h2>{{ category.name }}</h2>

      <div class="d-flex flex-row ms-2 flex-wrap justify-center">
        {% if videos %}
          {% for video in videos %}
            <div class="ms-3 mb-3 ">
              {% if video.embedded_video %}
                <div class="">
                  {{ video.embedded_video|safe}}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="col">
            <p>No videos available for this category.</p>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</section>


  <!-- End Video Gallery Section -->

{% endblock %}
